<?xml version="1.0" encoding="utf-8"?>
<ConnectionConfiguration>
  <Provider>Oracle</Provider>
  <Server>clearwater-ora-prod.hospital.local</Server>
  <Port>1521</Port>
  <ServiceName>CLINICALPRD</ServiceName>
  <Username>REPORTS_USER</Username>
  <IntegratedSecurity>false</IntegratedSecurity>
  <ConnectionTimeout>30</ConnectionTimeout>
  <Description>Oracle connection for Crystal Reports - Clinical database</Description>
</ConnectionConfiguration>
